<header class="header" role="banner">
  <div class="header-wrapper">
    <div class="container clearfix">
      <h1 class="logo pull-left">
        <a class="logo-section logo-devlocal" href="http://devlocal.io">
          <span class="visuallyhidden">DevLocal</span>
        </a>

        <a class="logo-section logo-root" href="<%= root_url %>">
          <span class="visuallyhidden">Jobs</span>
        </a>
      </h1>

      <div class="header-actions">
        <%= form_tag "/search", class: 'searchbar', method: "get" do %>
          <%= label_tag "search", "Search for", class: 'visuallyhidden' %>
          <%= text_field_tag :search, params[:search], class: 'searchbar-input' %>
          <%= submit_tag "Search", name: nil, class: 'searchbar-btn btn' %>
        <% end %>

        <%= link_to "List your job", new_listing_path, class: 'btn btn-header' %>
      </div>
    </div>
  </div>
</header>

<main class="content">
